*{
	padding:  0px;
	margin: 0px;
}

body{
	overflow-y: hidden;
}

#seleccion-1{
	width: 100vw;
	height: 100vh;
	background: lightblue;
	text-align: center;
}

#seleccion-2{
	width: 100vw;
	height: 100vh;
	background: #ec9797;
	text-align: center;
}

.conte-personajes{
	width: 900px;
	height: 300px;
	margin:auto;
}

.personaje{
	display: none;
}

	h1{ padding-bottom: 30px; }

	.personaje-1, .personaje-2, .personaje-3{
		width: 250px;
		height: 300px;
		background: yellow;
		margin: 5px;
		display: inline-flex;
		cursor: pointer;;
	}


	.sp-rd-1, .sp-rd-2, .sp-rd-3{
		width: 100px;
		height: 100px;
		display: inline-block;
	}
	
	.caja-hov{
		width: 200px;
		height: 200px;
		background:red;
		position: relative;
		display: inline-flex;
		margin: 45px 20px;
	}

	.img-1:hover{
		-webkit-transition: all .2s ease;
		-webkit-transform: scale(1.5);
		opacity: 0;
	}

	.img-1{
		width: 150px;
		vertical-align: middle;
		position: absolute;
		top:0px;
		left: 0px;
		z-index: 10;
		-webkit-transition: all .2s ease;
	}

	.elementos{
		position: absolute;
		top:0px;
		left: 0px;}




	label{
		display: block;
		margin: 110px 90px;
		-webkit-transition: all .2s ease;
		cursor: pointer;
	}

	


#resultado{
	width:100vw;
	height: 100vh;
	display: inline-flex;
	position: relative;
}
	
	#res1, #res2{
		width: 50vw;
		height: 300px;
		margin: 10px;
	}
	
	#seleccion-2{
		display: none;
	}

	.perdedorClass{
		-webkit-filter: grayscale(1);
  		filter: grayscale(1);
	}

	#res1, #res2{
		width: 30vw;
		height: 60vh;
	}

	input{ display: none !important;}

.resultado-final-box{
	padding-top: 60px;
	width: 50vw;
	height: 100vh;
	background: #ffe770;
	text-align: center;
}


.ganadorClass{
	animation: ganador 1.5s infinite;	}

	@keyframes ganador{
		0%{-webkit-transform: scale(1);}
		50%{-webkit-transform: scale(1.1);}
		100%{-webkit-transform: scale(1);}	

}

#textoResultado{
	display: block;
	position: absolute;
	left: 42vw;
	top:42vh;
	text-align: center;
	font-family: 'Permanent Marker', cursive;
	font-size: 35px;
}


p{	
	font-size: 2em;
	font-family: 'Permanent Marker', cursive;
	padding-top: 30px;}



#again{
	width: 190px;
    height: 40px;
    border-radius: 3px;
    display: block;
    position: absolute;
    left: 45vw;
    bottom: 30vh;
    border: none;
    background: #f95151;
    color: #fff;
	font-size: 20px;
	cursor: pointer;
	-webkit-transition: all .2s ease;
	opacity: 1;
}

#again:hover{
	opacity: .6;
	-webkit-transition: all .2s ease;
}

	